html {
  font-size: 62.5%;
}

body {
  margin: 3.5rem 0.5rem;
  font-family: "DM Sans", sans-serif;
  background-color: rgba(234, 201, 248, 0.5);
  color: #000;
}

header {
  display: flex;
  justify-content: space-around;
}
.logo {
  margin-left: -70px;
  margin-bottom: 4.6rem;
}

.back {
  margin-top: 10px;
  margin-right: -74px;
}

h1,
h2 {
  font-weight: 700;
  color: black;
}

h1 {
  font-size: 3.6rem;
  /* font-weight: 700; */
  margin: 0 2rem;
  margin-bottom: 2.4rem;
  line-height: 4.7rem;
  width: 37.5rem;
}

h2 {
  font-size: 2.4rem;
}

.row {
  display: flex;
  flex-direction: row;
  column-gap: 7px;
}

/* .first {
  display: flex;
} */

p,
span {
  color: black;
}

.icon {
  display: flex;
  margin-left: 2rem;
}

.feature {
  width: 77%;
}

/* p::before {
  
} */

span {
  font-weight: 700;
}

.section {
  background-color: #ccc;
  background-color: #fff;
  margin: 0 1rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  border-radius: 1rem;
}

h2 {
  margin-left: 3rem;
  width: 70%;
}

fieldset {
  margin-left: 2rem;
  border: none;
  position: relative;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  width: 75%;
  margin-bottom: 2.5rem;
}

input[type="password"] {
  margin-bottom: 2.4rem;
}

input[type="checkbox"] {
 
}

.checkbox {
   margin-top: 27px;
  position: absolute;
  top: 257px;
  left: 15px;
  border-radius: 50%;
  margin-right: 7px;
  width: 1.4rem;
  height: 1.4rem;
}

.label-inline {
  width: 70%;
  line-height: 1.3;
  margin-left: 2.5rem;
  margin-bottom: 3.2rem;
}

.terms {
  color: #664efc;
  text-decoration: underline;
  text-decoration-thickness:  2px;
  text-underline-offset: 2px;
}

.create{
  display: grid;
  place-items: center;
}

.btn {
     background-color: #664efc;
    text-align: center;
    width: 29.4rem;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    display: inline-block;
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1.5rem 3rem;
}
